a {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

div {
	position: absolute;
	margin-left: 200px;
	top : 100px;
	width: 700px;
}

#normal {
	background-color: gray;
	width: 150px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#list {
	background-color: #0080c0;
	width: 150px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#list2 {
	background-color: #00ffff;
	width: 150px;
	padding-top: 10px;
	padding-bottom: 10px;
}